.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-out, visibility 0s linear 0.4s;
}

.modal.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-out, visibility 0s linear 0s;
}

.modalOverlay {
  background-color: white;
  width: 500px;
  max-width: 90%;
  border-radius: 8px;
  padding: 30px;
  transform: scale(0.95);
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.4s ease-out;
}

.modal.active .modalOverlay {
  transform: scale(1);
  opacity: 1;
}
