.toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox,.radio{
  width: 20px;
  height: 20px;
  border: 2px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxChecked,.radioChecked {
  background: #007bff;
}

.radio {
  border-radius: 50%;
}

.label {
  margin-left: 8px;
}
